EXPO_PUBLIC_SUPABASE_URL=https://ckpvayvocmhidpdxtkqi.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrcHZheXZvY21oaWRwZHh0a3FpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwMDAzNjAsImV4cCI6MjA5NTU3NjM2MH0.ks3M6obZQOIPQEIIG5J5_iJxzL3jLVDkgCNeI4hfHkU
EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=appl_xxxxxxxxxxxxxxxx
EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID=goog_xxxxxxxxxxxxxxxx
